# Download Data

In [17]:
import yfinance as yf
ETF = "006208.TW"
History = "10y"
all_day_k = yf.Ticker(ETF).history(period = History, interval = "1d")

all_day_k #test

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2014-04-28 00:00:00+08:00,25.228860,25.228860,24.793880,24.793880,2000,0.0,0.0,0.0
2014-04-29 00:00:00+08:00,25.555098,25.555098,25.555098,25.555098,0,0.0,0.0,0.0
2014-04-30 00:00:00+08:00,25.199862,25.199862,25.199862,25.199862,2000,0.0,0.0,0.0
2014-05-02 00:00:00+08:00,25.199861,25.199861,25.156364,25.156364,2000,0.0,0.0,0.0
2014-05-05 00:00:00+08:00,25.497095,25.497095,25.497095,25.497095,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-04-22 00:00:00+08:00,88.099998,88.900002,87.699997,88.000000,7886956,0.0,0.0,0.0
2024-04-23 00:00:00+08:00,89.199997,89.250000,88.550003,88.750000,3992377,0.0,0.0,0.0
2024-04-24 00:00:00+08:00,90.000000,91.599998,90.000000,91.400002,4315196,0.0,0.0,0.0
2024-04-25 00:00:00+08:00,90.449997,90.500000,89.750000,89.949997,4120009,0.0,0.0,0.0
2024-04-26 00:00:00+08:00,91.099998,91.849998,91.000000,91.349998,4592394,0.0,0.0,0.0

# Filter data

In [18]:
all_day_k = all_day_k.drop(columns=["Dividends", "Stock Splits","Capital Gains"])
all_day_k = all_day_k[:-1]
all_day_k #test

,Open,High,Low,Close,Volume
Date,,,,,
2014-04-28 00:00:00+08:00,25.228860,25.228860,24.793880,24.793880,2000
2014-04-29 00:00:00+08:00,25.555098,25.555098,25.555098,25.555098,0
2014-04-30 00:00:00+08:00,25.199862,25.199862,25.199862,25.199862,2000
2014-05-02 00:00:00+08:00,25.199861,25.199861,25.156364,25.156364,2000
2014-05-05 00:00:00+08:00,25.497095,25.497095,25.497095,25.497095,0
...,...,...,...,...,...
2024-04-19 00:00:00+08:00,90.550003,90.550003,88.000000,88.500000,23274016
2024-04-22 00:00:00+08:00,88.099998,88.900002,87.699997,88.000000,7886956
2024-04-23 00:00:00+08:00,89.199997,89.250000,88.550003,88.750000,3992377
2024-04-24 00:00:00+08:00,90.000000,91.599998,90.000000,91.400002,4315196
2024-04-25 00:00:00+08:00,90.449997,90.500000,89.750000,89.949997,4120009

# Construct dataset

In [19]:
import numpy as np
import pandas as pd

PAST_WIN_LEN = 100
CLASSES = ["Bull", "Bear"]
LABEL_BULL = CLASSES.index("Bull")
LABEL_BEAR = CLASSES.index("Bear")

x, y = [], []
for today_i in range(len(all_day_k)):
    day_k_past = all_day_k[:today_i + 1]
    day_k_forward = all_day_k[today_i + 1:]
    if len(day_k_past) < PAST_WIN_LEN or len(day_k_forward) < 1:
        continue
    day_k_past_win = day_k_past[-PAST_WIN_LEN:]
    day_k_forward_win = day_k_forward[:1]

    today_price = day_k_past_win.iloc[-1]["Close"]
    tomorrow_price = day_k_forward_win.iloc[0]["Close"]
    label = LABEL_BULL if tomorrow_price > today_price else LABEL_BEAR

    x.append(day_k_past_win.values)
    y.append(label)

x, y = np.array(x), np.array(y)

In [20]:
x.shape

(2338, 100, 5)

In [21]:
x

array([[[2.52288597e+01, 2.52288597e+01, 2.47938805e+01, 2.47938805e+01,
         2.00000000e+03],
        [2.55550976e+01, 2.55550976e+01, 2.55550976e+01, 2.55550976e+01,
         0.00000000e+00],
        [2.51998615e+01, 2.51998615e+01, 2.51998615e+01, 2.51998615e+01,
         2.00000000e+03],
        ...,
        [2.77807446e+01, 2.77807446e+01, 2.77807446e+01, 2.77807446e+01,
         0.00000000e+00],
        [2.77880020e+01, 2.77880020e+01, 2.77880020e+01, 2.77880020e+01,
         1.00000000e+03],
        [2.81722279e+01, 2.81722279e+01, 2.81722279e+01, 2.81722279e+01,
         0.00000000e+00]],

       [[2.55550976e+01, 2.55550976e+01, 2.55550976e+01, 2.55550976e+01,
         0.00000000e+00],
        [2.51998615e+01, 2.51998615e+01, 2.51998615e+01, 2.51998615e+01,
         2.00000000e+03],
        [2.51998607e+01, 2.51998607e+01, 2.51563644e+01, 2.51563644e+01,
         2.00000000e+03],
        ...,
        [2.77880020e+01, 2.77880020e+01, 2.77880020e+01, 2.77880020e+01,
         1.00000000e+03],
        [2.81722279e+01, 2.81722279e+01, 2.81722279e+01, 2.81722279e+01,
         0.00000000e+00],
        [2.78894882e+01, 2.78894882e+01, 2.78894882e+01, 2.78894882e+01,
         4.00000000e+03]],

       [[2.51998615e+01, 2.51998615e+01, 2.51998615e+01, 2.51998615e+01,
         2.00000000e+03],
        [2.51998607e+01, 2.51998607e+01, 2.51563644e+01, 2.51563644e+01,
         2.00000000e+03],
        [2.54970951e+01, 2.54970951e+01, 2.54970951e+01, 2.54970951e+01,
         0.00000000e+00],
        ...,
        [2.81722279e+01, 2.81722279e+01, 2.81722279e+01, 2.81722279e+01,
         0.00000000e+00],
        [2.78894882e+01, 2.78894882e+01, 2.78894882e+01, 2.78894882e+01,
         4.00000000e+03],
        [2.74980072e+01, 2.74980072e+01, 2.72950172e+01, 2.72950172e+01,
         3.00000000e+03]],

       ...,

       [[7.47500000e+01, 7.48499985e+01, 7.44499969e+01, 7.46500015e+01,
         3.43619400e+06],
        [7.50500031e+01, 7.55999985e+01, 7.50500031e+01, 7.55500031e+01,
         5.21905700e+06],
        [7.51500015e+01, 7.51500015e+01, 7.47500000e+01, 7.50000000e+01,
         2.11300300e+06],
        ...,
        [9.19499969e+01, 9.30500031e+01, 9.12500000e+01, 9.30500031e+01,
         3.63220700e+06],
        [9.05500031e+01, 9.05500031e+01, 8.80000000e+01, 8.85000000e+01,
         2.32740160e+07],
        [8.80999985e+01, 8.89000015e+01, 8.76999969e+01, 8.80000000e+01,
         7.88695600e+06]],

       [[7.50500031e+01, 7.55999985e+01, 7.50500031e+01, 7.55500031e+01,
         5.21905700e+06],
        [7.51500015e+01, 7.51500015e+01, 7.47500000e+01, 7.50000000e+01,
         2.11300300e+06],
        [7.50000000e+01, 7.50500031e+01, 7.45999985e+01, 7.49000015e+01,
         1.66495400e+06],
        ...,
        [9.05500031e+01, 9.05500031e+01, 8.80000000e+01, 8.85000000e+01,
         2.32740160e+07],
        [8.80999985e+01, 8.89000015e+01, 8.76999969e+01, 8.80000000e+01,
         7.88695600e+06],
        [8.91999969e+01, 8.92500000e+01, 8.85500031e+01, 8.87500000e+01,
         3.99237700e+06]],

       [[7.51500015e+01, 7.51500015e+01, 7.47500000e+01, 7.50000000e+01,
         2.11300300e+06],
        [7.50000000e+01, 7.50500031e+01, 7.45999985e+01, 7.49000015e+01,
         1.66495400e+06],
        [7.50000000e+01, 7.50500031e+01, 7.48000031e+01, 7.48499985e+01,
         1.63134900e+06],
        ...,
        [8.80999985e+01, 8.89000015e+01, 8.76999969e+01, 8.80000000e+01,
         7.88695600e+06],
        [8.91999969e+01, 8.92500000e+01, 8.85500031e+01, 8.87500000e+01,
         3.99237700e+06],
        [9.00000000e+01, 9.15999985e+01, 9.00000000e+01, 9.14000015e+01,
         4.31519600e+06]]])

In [22]:
y.shape

(2338,)

In [23]:
y

array([1, 1, 1, ..., 0, 0, 1])

# Split dataset to training/validation/test datasets

In [24]:
TRAIN_SPLIT, VAL_SPLIT, TEST_SPLIT = 0.7, 0.2, 0.1

test_split_index = -round(len(x) * TEST_SPLIT)
x_other, x_test = np.split(x, [test_split_index])
y_other, y_test = np.split(y, [test_split_index])

train_split_index = round(len(x) * TRAIN_SPLIT)
indexes = np.arange(len(x_other))
np.random.shuffle(indexes)
train_indexes, val_indexes = np.split(indexes, [train_split_index])
x_train, x_val = x_other[train_indexes], x_other[val_indexes]
y_train, y_val = y_other[train_indexes], y_other[val_indexes]

In [27]:
label_distribution = pd.DataFrame([{"Dataset": "train",
                                    "Bull": np.count_nonzero(y_train == LABEL_BULL),
                                    "Bear": np.count_nonzero(y_train == LABEL_BEAR)},
                                    {"Dataset": "val",
                                    "Bull": np.count_nonzero(y_val == LABEL_BULL),
                                    "Bear": np.count_nonzero(y_val == LABEL_BEAR)},
                                    {"Dataset": "test",
                                    "Bull": np.count_nonzero(y_test == LABEL_BEAR),
                                    "Bear": np.count_nonzero(y_test == LABEL_BEAR),}])

label_distribution

  Dataset  Bull  Bear
0   train   807   830
1     val   232   235
2    test   110   110

# Save datasets